#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
     jorgetorrico:sesamo  
  expire: False

users:
  - name: jorgetorrico # Change me (nombre del dominio sin .com)
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/rKqalGQAUFrNv3Svma2AbpAxG8J/7i8qv43ztn4rnnYE/wZomY1YLKoPBxUB9Wtpk9o2cNFeLj//LSsarhIWUldi5eCGPJs6OYV80NhD33sl66bG5guRUg7w8/HlFAhYVzeaWD9sty2FB0Z0zDb0qTKTAHbajh8vjym7AG8jfemc0UDhpcOHjoP8Fs7bzmnD8PP1TC4kSlGh4RjstURKu7DsbivzwXq1CMy3/iF2Vlu3Y3H0Dzb7oh8ZQogPUOqSjY38Q7XBJZhT7N3g8ej7MHS9FSceQvbvmtlHrdk2dgPDo8fWzJv1ixhPIjBPjAkTLP4vAFto+3lP7qjyKUJb jorgetorrico@server01
